<h1>Your Saved Destinations</h1>

<table>
  <tr>
    <th>Destination</th>
    <th>Coords</th>
    <th></th>
    <th></th>
   <!--  <th></th> -->
  </tr>

<% @user.favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.destination.address %></td>
    <td><%= favorite.destination.latitude %> and <%= favorite.destination.longitude %></td>
    <td><%= link_to 'Show', favorite.destination %></td>
    <td><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Edit your Profile', edit_user_path(@user) %> |
<%= link_to 'Back to Home', destinations_path %>
