<div id='map'></div>
<script>
var map = L.mapbox.map('map', 'examples.map-20v6611k');
map.addLayer(L.tileLayer('http://tile.stamen.com/watercolor/{z}/{x}/{y}.jpg'));
map.setView([30, -0], 1);

var geoJson = {
    type: 'FeatureCollection',
    features: [{
        type: 'Feature',
        properties: {
            title: 'Washington, D.C.',
            'marker-size': 'small',
            url: 'http://en.wikipedia.org/wiki/Washington,_D.C.'
        },
        geometry: {
            type: 'Point',
            coordinates: [-77.03201, 38.90065]
        }
    },
    {
        type: 'Feature',
        properties: {
            title: 'Baltimore, MD',
            'marker-size': 'small',
            url: 'http://en.wikipedia.org/wiki/Washington,_D.C.'
        },
        geometry: {
            type: 'Point',
            coordinates: [-76.60767, 39.28755]
        }
    }]
};

map.markerLayer.setGeoJSON(geoJson);
map.markerLayer.on('mouseover', function(e) {
    e.layer.openPopup();
});
map.markerLayer.on('mouseout', function(e) {
    e.layer.closePopup();
});
map.markerLayer.on('click', function(e) {
    e.layer.unbindPopup();
    window.open(e.layer.feature.properties.url);
});
</script>





<!-- will hide the rest later for admin use only-->

<h1>Listing TRENDING destinations</h1>

<table>
  <tr>
    <th>Number of Favorites</th>
    <th>Destination City</th>
    <th>Destination Province</th>
    <th>Destination Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>ID</th>
    <th></th>
  </tr>
<!-- need to update the next line once i make the method -->
<% trending_destinations_list.take(3).each do |destination| %>
  <% if destination.favorites.size != 0  %>
    <tr>
      <td><%= destination.favorites.size %></td>
      <td><%= destination.address.split(", ")[0] %></td>
      <td><%= destination.address.split(", ")[1] %></td>
      <td><%= destination.address.split(", ")[2] %></td>
      <td><%= destination.latitude %></td>
      <td><%= destination.longitude %></td>
      <td><%= destination.id %></td>
      <td><%= link_to 'Show', destination %></td>
    </tr>
  <% end %>
<% end %>
</table>



<h1>Listing TOP destinations</h1>

<table>
  <tr>
    <th>Number of Favorites</th>
    <th>Destination City</th>
    <th>Destination Province</th>
    <th>Destination Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>ID</th>
    <th></th>
  </tr>

<% top_destinations_list.take(5).each do |destination| %>
  <tr>
    <td><%= destination.users.size %></td>
    <td><%= destination.address.split(", ")[0] %></td>
    <td><%= destination.address.split(", ")[1] %></td>
    <td><%= destination.address.split(", ")[2] %></td>
    <td><%= destination.latitude %></td>
    <td><%= destination.longitude %></td>
    <td><%= destination.id %></td>
    <td><%= link_to 'Show', destination %></td>
  </tr>
<% end %>
</table>


<h1>Listing all destinations</h1>

<table>
  <tr>
    <th>Number of Favorites</th>
    <th>Destination City</th>
    <th>Destination Province</th>
    <th>Destination Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>ID</th>
    <th></th>
  </tr>

<% all_destinations_list.each do |destination| %>
  <tr>
    <td><%= destination.users.size %></td>
    <td><%= destination.address.split(", ")[0] %></td>
    <td><%= destination.address.split(", ")[1] %></td>
    <td><%= destination.address.split(", ")[2] %></td>
    <td><%= destination.latitude %></td>
    <td><%= destination.longitude %></td>
    <td><%= destination.id %></td>
    <td><%= link_to 'Show', destination %></td>
  </tr>
<% end %>
</table>

<br />