<h1>Recent Destinations</h1>


<div id='map_complete' class="span10"></div>
<script>
var map = L.mapbox.map('map_complete', 'examples.map-20v6611k');
map.addLayer(L.tileLayer('http://tile.stamen.com/watercolor/{z}/{x}/{y}.jpg'));
map.setView([30, -0], 1);
var d = [];
<% most_recent_destinations_for_map.shuffle.each do |destination| %>
  d.push({
      type: 'Feature',
      properties: {
          title: '<%= destination.address.split(", ")[0] %>, <%= destination.address.split(", ")[2] %>',
          'marker-size': 'small',
          'marker-symbol': 'embassy',
          'marker-color': '#77C99B',
          url: '<%= destination_url(destination) %>'
      },
      geometry: {
          type: 'Point',
          coordinates: [<%= destination.longitude %>, <%= destination.latitude %>]
      }
  })
<% end %>

var geoJson = {
    type: 'FeatureCollection',
    features: d

};


map.markerLayer.setGeoJSON(geoJson);

var markers = $('.leaflet-marker-pane img')
var delay = 0;
$.each(markers, function(k,v) {
  var marker = $(v);
  delay += 50;
  setTimeout(function() {
    marker.show();
  }, delay);
});



map.markerLayer.on('mouseover', function(e) {
    e.layer.openPopup();
});
map.markerLayer.on('mouseout', function(e) {
    e.layer.closePopup();
});
map.markerLayer.on('click', function(e) {
    e.layer.unbindPopup();
    window.open(e.layer.feature.properties.url,"_parent");
});
</script>

<h5>Note, the wander button choose a mathematically random place on Earth, but will ignore the ocean and locations without a city name (sorry Antarctica...)</h5>

