<h1 class="d<%= @destination.id %>"><%= @destination.address %></h1>
<h5>Latitude: <%= @destination.latitude.round(9) %></h5>
<h5>Longitude: <%= @destination.longitude.round(9) %></h5>


<div id='map' class="dark"></div>

<script type='text/javascript'>
 var map = L.mapbox.map('map', 'examples.map-qfyrx5r8')
     .addControl(L.mapbox.geocoderControl('examples.map-qfyrx5r8'))
     .setView([<%= @destination.latitude %>, <%= @destination.longitude %>], 6)
     .on('ready', function() {
       new L.Control.MiniMap(L.mapbox.tileLayer('examples.map-b70jh5xu'))
         .addTo(map);
      });

 var feature = {
     type: 'Feature',
     geometry: {
         type: 'Point',
         coordinates: [<%= @destination.longitude %>, <%= @destination.latitude %>]
     },
     properties: {
         title: "<%= @destination.address.split(", ")[0] %>, <%= @destination.address.split(", ")[2] %>",
         description: "",
         "marker-symbol": "star",
         "marker-color": "#ff0000",
     }
 };

 map.markerLayer.setGeoJSON(feature);

</script>

<% if !@destination.users.include?(current_user) %>
  <%= link_to 'Save this Destination', save_destination_path %>
<% end %>