<h1 class="d<%= @destination.id %>"><%= @destination.address %></h1>
<h5>Latitude: <%= @destination.latitude.round(9) %>,  Longitude: <%= @destination.longitude.round(9) %></h5>
<p id="destination_content"><%= @summary %></p>

<div id='map' class="dark span9"></div>

<script type='text/javascript'>
 var map = L.mapbox.map('map', 'examples.map-qfyrx5r8')
     .addControl(L.mapbox.geocoderControl('examples.map-qfyrx5r8'))
     .setView([<%= @destination.latitude %>, <%= @destination.longitude %>], 6)
     .on('ready', function() {
       new L.Control.MiniMap(L.mapbox.tileLayer('examples.map-b70jh5xu'))
         .addTo(map);
      });

 var feature = {
     type: 'Feature',
     geometry: {
         type: 'Point',
         coordinates: [<%= @destination.longitude %>, <%= @destination.latitude %>]
     },
     properties: {
         title: "<%= @destination.address.split(", ")[0] %>, <%= @destination.address.split(", ")[2] %>",
         description: "",
         "marker-symbol": "star",
         "marker-color": "#ff0000",
     }
 };

 map.markerLayer.setGeoJSON(feature);

 var marker = $('.leaflet-marker-pane img')
 marker.show();

</script>
<div id="side_photo_container" class="span3">
    <div>
        <% if @destination.users.include?(current_user) %>
            <%= link_to 'One of your Favorites', user_path(@user), :id => "save_destination_button", :class =>"btn btn-small btn-inverse" %>
        <% else %>
          <%= link_to 'Save this Destination', save_destination_path, :id => "save_destination_button", :class =>"btn btn-small btn-success" %>
        <% end %>
    </div>

    <% if @photo_urls.present? %>
    <div>
        <% @photo_urls.each do |photo| %>
            <%= image_tag(photo, :class => "wiki_photos") %>
        <% end %>
    </div>
    <% end %>
</div>

