<h1>Destinations#show</h1>
<p>Find me in app/views/destinations/show.html.erb</p>

<ul>
  <li>Destination</li>
    <ul>
      <li><%= @destination.address %></li>
    </ul>
  <li>Latitude</li>
    <ul>
      <li><%= @destination.latitude %></li>
    </ul>
  <li>Longitude</li>
    <ul>
      <li><%= @destination.longitude %></li>
    </ul>
</ul>

<div id='map' class='dark'></div>

<script type='text/javascript'>
 var map = L.mapbox.map('map', 'examples.map-vyofok3q')
     .addControl(L.mapbox.geocoderControl('examples.map-vyofok3q'))
     .setView([<%= @destination.latitude %>, <%= @destination.longitude %>], 5)
     .on('ready', function() {
       new L.Control.MiniMap(L.mapbox.tileLayer('examples.map-uci7ul8p'))
         .addTo(map);
      });

 var feature = {
     type: 'Feature',
     geometry: {
         type: 'Point',
         coordinates: [<%= @destination.longitude %>, <%= @destination.latitude %>]
     },
     properties: {
         title: "<%= @destination.address %>",
         description: ''
     }
 };

 map.markerLayer.setGeoJSON(feature);

</script>

<% if !@destination.users.include?(current_user) %>
  <%= link_to 'Save this Destination', save_destination_path %>
<% end %>