<!DOCTYPE html>
<html>
<head>
  <title>Wandermvst</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.css" />
   <!--[if lte IE 8]>
       <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.ie.css" />
   <![endif]-->
   <script src="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.js"></script>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
      <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
    <![endif]-->
    <%= stylesheet_link_tag "Control.MiniMap.css" %>
    <%= javascript_include_tag "Control.MiniMap.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="/">Wandermvst</a>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <% if current_user %>
              <li class=""><%= link_to "Howdy, #{current_user.first_name}", user_path(current_user), :class => "nav" %></li>
              <li class=""><%= link_to "Log Out", logout_path, :class => "nav" %></li>
            <% else %>
              <li class=""><%= link_to "Log In", login_path, :class => "nav" %></li>
            <% end %>
          </ul>
          <!-- .nav, .navbar-search, .navbar-form, etc -->
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid">

    <% unless flash[:notice].blank? %>
      <p id="flash_notice"><%= flash[:notice] %></p>
    <% end %>

    <% unless flash[:alert].blank? %>
      <p id="flash_alert"><%= flash[:alert] %></p>
    <% end %>

    <div class="row-fluid">
      <div class="span9 well">

        <%= yield %>

      </div>
      <div class="span3 well">
        <ul class="nav nav-list">
          <li><%= link_to "Show World Map", complete_path, :class => "btn" %></li>
          <li class="divider"></li>
          <li class="nav-header">Top Saved Destinations</li>
          <li class="divider"></li>
          <ol id="top_list">
            <% top_destinations_list.take(5).each do |destination| %>
              <li class="d<%= destination.id %>"><%= link_to "#{destination.address}", destination_path(destination) %></li>
            <% end %>
          </ol>
          <li class="divider"></li>
          <li class="nav-header">Trending Destinations</li>
          <!-- This will be saved by timestamp over the last 1 day -->
          <li class="divider"></li>
          <ol id="top_list">
            <% trending_destinations_list.take(3).each do |destination| %>
              <% if destination.favorites.size != 0  %>
                <li class="d<%= destination.id %>"><%= link_to "#{destination.address}", destination_path(destination) %></li>
              <% end %>
            <% end %>
          </ol>
          <li class="divider"></li>
          <%= link_to "Wander", destinations_path, :method => "POST", :id => "wander_button", :class => "btn btn-primary btn-block btn-large" %>
        </ul>
      </div>
    </div>
  </div>





</body>
</html>
